// fonts
$font-stack: Helvetica, sans-serif;

// colors
$color-light-gray: #F6F6F6;
$color-medium-gray: #E3E3E3;
$color-dark-gray: #6F6F6F;
$color-blue: #1864cf;
$color-blue-faded: rgba(24,100,207,0.25);
$color-orange-red: #A9322A;
$color-white: #FFFFFF;