@use 'base';

%standard-button-inactive {
    background-color: base.$color-medium-gray;
    border: none;
    outline: none;
    color: black;
    font-weight: 800;
    font-family: base.$font-stack;
}

%standard-button-active {
    background-color: base.$color-blue;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-weight: base.$font-stack;
}

%standard-button-active-red {
    background-color: base.$color-orange-red;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-weight: base.$font-stack;
}

