@use '/assets/style/base';
@use '/assets/style/header_button';

.header {
    width: 100%;
    height: 8%;
    background-color: base.$color-light-gray;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.header-button-list {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* HEADER BUTTON INACTIVE ****************************************************************************/
.header-button-container-inactive, .header-button-container-active {
    width: 40%;
    height: 90%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @extend %header-button-container-inactive;
}
.header-button-inactive, .header-button-active {
    width: 60%;
    height: 65%;
    font-size: 18px;
    @extend %header-button-inactive;
}   
.header-button-arrow-inactive {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
}

/* HEADER BUTTON ACTIVE ******************************************************************************/
.header-button-container-active {
    @extend %header-button-container-active;
}
.header-button-active {
    @extend %header-button-active;
}
.header-button-arrow-active {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}




